$primary: #1B26BC;
$shadow: #101770;

$fuenteHead: #363749;
$colorShadow: #363749;
$fuenteBody: #03051B;

$colorBody: #E6E6E8;
$colorIconos: #E4E5F6;
$shadowIconos: #CFD0D4;
$colorBorder: #CFD0D4;


body{
    margin: 0 auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.mi-navbar{
    min-width: 85%;
    min-height: 111px;
    background-color: white;
    a {
        color: $fuenteHead;
    }
}
.navbar-brand{
    font-size: 25px;
}

.be-iunigo{
    background-color: $colorBody;
    h3{
        font-size: 28px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: $fuenteBody;
    }
    button{
        background-color: $primary;
        color: white;
        padding: 10px 25px;
        border: none;
        margin-right: 15px;
    }
}
.quienes-somos{
    h3{
        text-align: center;
        font-size: 28px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
        margin-bottom: 25px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: $fuenteBody;
    }
}
.mid{
    background-color: $colorBody;
}
.pasos-proceso{
    text-align: center;
    margin: 40px auto;
    h3{
        text-align: center;
        font-size: 28px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
        margin-bottom: 35px;
    }
    img{
        margin: 0px 0px 30px;
    }
    p{
        font-size: 18px;
        font-weight: 500;
        color: $fuenteBody;
        font-style: bold;
    }
}

.que-buscamos{
    margin: 35px auto 60px;
    h3{
        text-align: center;
        font-size: 28px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
        margin-bottom: 35px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: $fuenteBody;
    }
    span{
        font-style: bold;
        font-size: 20px;
        font-weight: 500;
    }
    h4{
        text-align: center;
        font-size: 24px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
        margin-top: 40px;
    }
}
.beneficios{
    text-align: center;
    margin: 40px auto;
    h3{
        text-align: center;
        font-size: 28px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        color: $fuenteBody;
    }
}
.col-beneficios{
    background-color: $colorIconos;
    border: 1px solid $colorBorder;
    border-radius: 15px;
    padding-top: 10px;
    height: 120px;
    width: 370px;
}
.testimonios{
    text-align: center;
    margin: 50px auto 60px;
    h3{
        text-align: center;
        font-size: 28px;
        color: $primary;
        font-style: medium;
        font-weight: 500;
        margin-bottom: 30px;
    }
}