body { margin: 0 auto; background-color: white; font-family: 'Roboto', sans-serif; }

.mi-navbar { width: 100%; min-height: 111px; background-color: white; }
.mi-navbar a { color: #363749; }
.mi-navbar ul { width: 100%; }

.navbar-brand { font-size: 25px; margin: 0px; }

.be-iunigo { background-color: #E6E6E8; }
.be-iunigo h3 { font-size: 28px; color: #1B26BC; font-style: medium; font-weight: 500; }
.be-iunigo p { font-size: 20px; font-weight: 400; color: #03051B; }
.be-iunigo button { background-color: #1B26BC; color: white; padding: 10px 25px; border: none; margin-right: 15px; }

.quienes-somos h3 { text-align: center; font-size: 28px; color: #1B26BC; font-style: medium; font-weight: 500; margin-bottom: 25px; }
.quienes-somos p { font-size: 20px; font-weight: 400; color: #03051B; }

.mid { background-color: #E6E6E8; }

.pasos-proceso { text-align: center; margin: 40px auto; }
.pasos-proceso h3 { text-align: center; font-size: 28px; color: #1B26BC; font-style: medium; font-weight: 500; margin-bottom: 35px; }
.pasos-proceso img { margin: 0px 0px 30px; }
.pasos-proceso p { font-size: 18px; font-weight: 500; color: #03051B; font-style: bold; }

.que-buscamos { margin: 35px auto 60px; }
.que-buscamos h3 { text-align: center; font-size: 28px; color: #1B26BC; font-style: medium; font-weight: 500; margin: 20px auto 25px; }
.que-buscamos p { font-size: 20px; font-weight: 400; color: #03051B; }
.que-buscamos span { font-style: bold; font-size: 20px; font-weight: 500; }
.que-buscamos h4 { text-align: center; font-size: 24px; color: #1B26BC; font-style: medium; font-weight: 500; margin-top: 40px; }

.beneficios { text-align: center; margin: 40px auto; }
.beneficios h3 { text-align: center; font-size: 28px; color: #1B26BC; font-style: medium; font-weight: 500; margin-bottom: 20px; }
.beneficios p { font-size: 18px; font-weight: 400; color: #03051B; }

.col-beneficios { background-color: #E4E5F6; border: 1px solid #CFD0D4; border-radius: 15px; padding-top: 10px; height: 120px; width: 370px; }

.testimonios { text-align: center; margin: 50px auto 60px; }
.testimonios h3 { text-align: center; font-size: 28px; color: #1B26BC; font-style: medium; font-weight: 500; margin-bottom: 30px; }

.mi-footer { text-align: center; }
.mi-footer h3 { font-size: 20px; color: #03051B; font-weight: 500; margin: 25px auto 25px; }
.mi-footer button { background-color: #1B26BC; color: white; padding: 10px 25px; border: none; }
